
<form class="form-inline my-2 my-lg-0">
    <input class="text" name ="searchStr" [(ngModel)]="searchStr" (keyup) ="searchMusic()"class="form-control" placeholder ="Search Music...">
</form>

<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class ="col-md-12">
                <div class="search-res well-lg">
                    <h4><a class="nav-link" href="/artist/{{res.id}} ">{{res.name}}</a></h4>
                        <div>
                            <strong>Genres: </strong>
                            <span *ngFor="let genre of res.genres">{{genre + ", "}}</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
