
<form class="form-inline my-2 my-lg-0">
        <input type="text" id="input1" class="form-control" (keyup.enter) ="addNames(); clearInput(); " placeholder="Enter an artist name..."/>
</form>
<p *ngIf="listofart.length > 0">Current Artists: </p>
<ul>
        <li *ngFor="let art of listofart">
                {{art}}
                <input type='button' value="remove" (click)="removeName()"/>
                
        </li>
        <canvas baseChart *ngIf= "listofart.length > 0" 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
        </canvas>
</ul>
